.top{
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.top h6{
    font-size: 20px;
}

/* .top div{
    background-color:rgb(214, 213, 213);
    padding: 5px;
} */
.container{
    height: 89vh;
}

div button{
    border: none;
    color: var(--text-color);
    background-color: transparent;
}
.bottom{
    height: 90%;
    overflow-y: scroll;
}
.bottom::-webkit-scrollbar{
    width: 1px;
}

.user{
    border: 1px solid grey;
    margin: 5px 20px;
    padding: 5px;
    background-color: var(--bg-color2);
    cursor: pointer;
}
.msg{
    font-size: 13px;
}
.name{
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 2px;
}

.currentChat{
    background-color: teal;
}
.container{
    background-color: var(--bgcolor3);
}