.searchContainer{
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}
.top{
    text-align: center;
}
.top h5{ 
    font-size: 20px;
}

.container{
    background-color: var(--bg-color);
    padding-top: 20px;
    height: 100vh;
}

.input{
    width: 100%;
    height: 40px;
    border-radius: 5px;
    background-color: var(--bg-color);
    color: var(--text-color);
    border: none;
    &:focus{
        outline: none;
    }
}
.middle{
    border: 1px solid gray;
    margin-top: 15px;
    border-radius: 5px;
    padding: 0px 15px;
    margin-bottom: 15px;
}
.img{
    height: 45px;
    aspect-ratio: 1/1;
    object-fit: fill;
    border-radius: 50%;
}
.bottom{
    margin-top: 15px;
    height: 73vh;
    overflow-y: scroll;
}
.user{
    display: flex;
    gap: 10px;
    align-items: center;
    cursor: pointer;
    background-color: var(--bg-color);
    padding: 5px 0px;
    transition: 500ms;
    margin-bottom: 10px;
    &:hover{
        background-color: grey;
    }
}
.name{
    font-size: 16px;
    &::first-letter{
        font-weight: 600;
    }
}
.email{
    font-size: 12px;
    &::first-letter{
        font-weight: 600;
    }
}
p span {
    &::first-letter{
        font-weight: 600;
    }
}


.bottom::-webkit-scrollbar {
    width: 5px;
  }
  

.bottom::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

.bottom::-webkit-scrollbar-thumb {
    background: teal;
  }
  

.bottom::-webkit-scrollbar-thumb:hover {
    background: #555;
  }